.main

  .main-group 
    .main-group__titlle
      北斗の拳
      .main-group__titlle__list
        Member:世紀末覇者ラオウ 世紀末救世主ケンシロウ 銀の聖者トキ
    .main-group__btn
      = link_to "#", class: "main-group__btn__edit" do
        edit
  .main-message
    .main-message__top
      .main-message__top__name
        世紀末覇者ラオウ
        .main-message__top__name__coment
          愛故に人は苦しまねばならぬ
      .main-message__top__time
        2020.02.02(mon) 00:00:00

    .main-message__top
      .main-message__top__name
        銀の聖者トキ
        .main-message__top__name__coment
          激流を制するは静水
      .main-message__top__time
        2020.02.02(mon) 00:00:00
      
  .main-form
    %form.new_message
      .main-form__input
        %input{type: "text",class: "main-form__input__text",placeholder: "type a message"}
        %label{class: "main-form__input__image"}
          = icon('fas','image')
          %input{type: "file",class: "main-form__input__image__file"}
        %input{type: "submit",class: "submit-btn"}